BRAVE_SEARCH_API=insert_your_brave_key_here
STEAM_API_KEY=insert_your_steam_key_here
YOUTUBE_API_KEY=insert_your_youtube_key_here
IGDB_CLIENT_ID=insert_your_igdb_client_id_here
IGDB_CLIENT_SECRET=insert_your_igdb_client_secret_here